@import '../../styles/variables.scss';

.profile {
  margin: 30px 30px 0 21px;
  width: 924px;

}

.profile__result {
  display: grid;
  grid-template-columns: 424px 439px;
  gap: 61px;
}

.profile__start-text {
  margin-top: 250px;
  margin-bottom: 0;
  max-height: 20px;
  color: $text-secondary-color;
  text-shadow: $text-shadow;
  text-align: center;
}

.profile__user-img {
  max-width: 424px;
  border: $img-border;
}

.profile__name {
  font-size: 16px;
  color: $heading-color;
  line-height: 140%;
  margin: 0;
}

.profile__contact {
  font-size: 14px;
  line-height: 140%;
  color: $text-secondary-color;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

.profile__span {
  color: $text-primary-color;
  font-weight: 600;
}

.profile__about-title {
  font-size: 16px;
  color: $text-primary-color;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0;
}

.profile__about {
  font-size: 14px;
  line-height: 140%;
  color: $text-secondary-color;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 0;
}