$heading-color: #000;
$text-primary-color: #333;
$text-secondary-color: #76787d;

$background-primary-color: #fdfdfd;
$background-secondary-color: #fff;
$background-active-color: #e0e0e0;
$border-radius-bigger: 10px;
$border-radius-smaller: 8px;
$main-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
$text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$img-border: 1px solid rgba(224, 224, 224, 1);
$sidebar-border: 1px solid #e0e0e0;
$input-border: 1.5px solid #e9ecef;
$input-outline: 1.5px solid #656668;
