@import '../../styles/variables.scss';

.main {
  max-width: 1266px;
  min-height: 575px;
  margin-top: 26px;
  background-color: $background-primary-color;
  display: flex;
  border-radius: $border-radius-bigger;
  box-shadow: $main-box-shadow;
}