@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.header__logo {
  color: red;
  margin: 0;
}

.header__user-name {
  color: $text-primary-color;
  align-self: baseline;
}